body {
    background-color: black;
    margin: 0;
}

div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}
div.brick {
    background-color:aqua;

}
div.coin {
    background-image: url("coin2.gif") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
div.empty {
    
}
#pacman {
    background-image: url("pacman2.gif") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}
