* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card {
    width: 500px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid grey;
}

.card img {
    height: 150px;
    border-radius: 50%;
}